// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$yellow: #eeee39; // element color
$light-gray: #e0e0e0; //back ground color
$black: #0d0c11; // font color
