// Specific CSS for your home-page
#home-page-banner {
  width: 40%;
  position: relative;
  top: 0;
  left: 0;
}
#home-page-banner-lunette {
  width: 40%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  animation-name : fade ;
  animation-delay : 2s ;
  animation-duration : 4s ;
}
#home-page-banner-goute {
  width: 40%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  animation-name : fade ;
  animation-delay : 2s ;
  animation-duration : 4s ;
  animation-iteration-count : infinite ;
}
#home-page-banner-tatoo {
  width: 40%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity : 0 ;
  animation-name : fade ;
  animation-delay : 2s ;
  animation-duration : 4s ;
}
#home-page-banner-deco {
  width: 40%;
  position: absolute;
  top: 0;
  left: 0;
  opacity : 0 ;
  z-index: 1;
  animation-name : fade ;
  animation-delay : 2s ;
  animation-duration : 4s ;
}


.margin-bottom-push-down {
  margin-bottom: 63px;
}

.container {
  width: 1200px;
  // background-color: white;
  padding: 30px 50px;
}

#home-container {
  width: 100%;
  height: 900px;
  background-color: #e0e0e0;
}

.banner-text {
  font-size: 60px;
  position:absolute;
  top: 259px;
  left: 530px;
}

.banner-image {
  position:absolute;
  top: 110px;
  left: 70px;
}
@keyframes fade {
  from {
  opacity : 0 ;
  }
  to {
  opacity : 1 ;
  }
  }

#btn-confirm {
  padding-left: 0px;
}
