// Specific CSS for your home-page
#home-page-banner {
  width: 40%;
}

.margin-bottom-push-down {
  margin-bottom: 63px;
}

.container {
  width: 1200px;
  background-color: white;
  padding: 30px 50px;
}

.banner-text {
  font-size: 60px;
  position:absolute;
  top: 259px;
  left: 530px;
}

.banner-image {
  position:absolute;
  top: 110px;
  left: 70px;
}
