<h1>My Bookings</h1>

<div class="container">
  <% @bookings.each do |booking| %>
    <div class="card-product">
      <img src="">
      <div class="card-product-infos">
        <h2><%= link_to booking.character.name, booking_path(booking) %> (<%= booking.start_date %>-<%= booking.end_date %>)</h2>
        <p>This booking is <strong><%= booking.status %></strong></p>
      </div>
    </div>
  <% end %>
</div>
