<h1 class="text-center m-4 p-3">VarChar for You</h1>
<div class="container">
  <div class="row">
    <div class="image col-9">
    <%= image_tag "home-page.jpg", id: "home-page-banner"  %>
    </div>
    <div class="texte col-3 fs-1 text-center row justify-content-between">
    <p class="d-flex align-items-center justify-content-center">Be who you want to be</p>
    <p class="d-flex align-items-center justify-content-center">...</p>
    <p class="d-flex align-items-center justify-content-center">Or rent it</p>
  </div>
</div>

<%#
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>Change your life and learn to code at one of our campuses around the world.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div> %>
