<div class="banner d-flex justify-content-center align-items-center">
  <div class="image col-9 banner-image">
    <%= image_tag "home-page.jpg", id: "home-page-banner"  %>
  </div>

  <div class="banner-text"><p>Be who you want to be... <br> or <strong>RENT IT</strong>!</p></div>
</div>
