<h1>My Characters</h1>

<div class="cards">
  <% @characters.each do |character| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
      <%= link_to character.name, character_path(character) %>
    </div>
  <% end %>
</div>

<%= link_to 'Add a new Character', new_character_path %>
